.backgound {
  width: 100%;
  border-radius: 15px;
  background-color: #b7b7b755;
  backdrop-filter: blur(10px);
  height: 96vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid; */
  width: 902px;
  height: fit-content;
  margin: 10px;
}

.contentImg {
    height: 300px;
    width: 300px;
    padding: 1px;
}
