.backgound {
  width: 100%;
  border-radius: 15px;
  background-color: #b7b7b755;
  backdrop-filter: blur(10px);
  justify-content: center;
  display: flex;
  max-height: 96vh;
  overflow-y: scroll;
}

.contentImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
}
